<div class="content mat-elevation-z4">

  <app-toolbar-title title="Cursos" icon="school">
    <button mat-icon-button>
      <mat-icon>share</mat-icon>
    </button>
  </app-toolbar-title>
  <div class="container">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis laudantium dolore delectus fugit facere obcaecati, sint dolor expedita eaque repellat iure consectetur, temporibus illum quam sed cupiditate placeat omnis aliquam!
    <br>
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa maxime ducimus, debitis quis ullam quas nostrum ratione ipsum, veritatis accusantium id laborum officiis. Ipsum porro provident, ad voluptate tenetur aliquam.
    <br>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum, veritatis consectetur pariatur amet deleniti vel id nam aliquid ea! Eaque commodi, laborum iure repudiandae omnis molestias hic quisquam facere voluptatem.
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia excepturi rem at, animi explicabo vero cumque perferendis accusamus dolor maxime. Id tempora sequi accusantium praesentium eligendi libero doloribus architecto consectetur.
    <br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque maiores dolor velit aperiam delectus saepe consequatur quae assumenda perferendis placeat odit libero facilis, blanditiis eos illo. Repellendus vero blanditiis cupiditate.
    <br>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis laudantium dolore delectus fugit facere obcaecati, sint dolor expedita eaque repellat iure consectetur, temporibus illum quam sed cupiditate placeat omnis aliquam!
    <br>
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa maxime ducimus, debitis quis ullam quas nostrum ratione ipsum, veritatis accusantium id laborum officiis. Ipsum porro provident, ad voluptate tenetur aliquam.
    <br>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum, veritatis consectetur pariatur amet deleniti vel id nam aliquid ea! Eaque commodi, laborum iure repudiandae omnis molestias hic quisquam facere voluptatem.
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia excepturi rem at, animi explicabo vero cumque perferendis accusamus dolor maxime. Id tempora sequi accusantium praesentium eligendi libero doloribus architecto consectetur.
    <br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque maiores dolor velit aperiam delectus saepe consequatur quae assumenda perferendis placeat odit libero facilis, blanditiis eos illo. Repellendus vero blanditiis cupiditate.
    <br>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis laudantium dolore delectus fugit facere obcaecati, sint dolor expedita eaque repellat iure consectetur, temporibus illum quam sed cupiditate placeat omnis aliquam!
    <br>
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa maxime ducimus, debitis quis ullam quas nostrum ratione ipsum, veritatis accusantium id laborum officiis. Ipsum porro provident, ad voluptate tenetur aliquam.
    <br>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum, veritatis consectetur pariatur amet deleniti vel id nam aliquid ea! Eaque commodi, laborum iure repudiandae omnis molestias hic quisquam facere voluptatem.
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia excepturi rem at, animi explicabo vero cumque perferendis accusamus dolor maxime. Id tempora sequi accusantium praesentium eligendi libero doloribus architecto consectetur.
    <br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque maiores dolor velit aperiam delectus saepe consequatur quae assumenda perferendis placeat odit libero facilis, blanditiis eos illo. Repellendus vero blanditiis cupiditate.
    <br>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis laudantium dolore delectus fugit facere obcaecati, sint dolor expedita eaque repellat iure consectetur, temporibus illum quam sed cupiditate placeat omnis aliquam!
    <br>
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa maxime ducimus, debitis quis ullam quas nostrum ratione ipsum, veritatis accusantium id laborum officiis. Ipsum porro provident, ad voluptate tenetur aliquam.
    <br>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum, veritatis consectetur pariatur amet deleniti vel id nam aliquid ea! Eaque commodi, laborum iure repudiandae omnis molestias hic quisquam facere voluptatem.
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia excepturi rem at, animi explicabo vero cumque perferendis accusamus dolor maxime. Id tempora sequi accusantium praesentium eligendi libero doloribus architecto consectetur.
    <br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque maiores dolor velit aperiam delectus saepe consequatur quae assumenda perferendis placeat odit libero facilis, blanditiis eos illo. Repellendus vero blanditiis cupiditate.
    <br>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis laudantium dolore delectus fugit facere obcaecati, sint dolor expedita eaque repellat iure consectetur, temporibus illum quam sed cupiditate placeat omnis aliquam!
    <br>
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa maxime ducimus, debitis quis ullam quas nostrum ratione ipsum, veritatis accusantium id laborum officiis. Ipsum porro provident, ad voluptate tenetur aliquam.
    <br>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum, veritatis consectetur pariatur amet deleniti vel id nam aliquid ea! Eaque commodi, laborum iure repudiandae omnis molestias hic quisquam facere voluptatem.
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia excepturi rem at, animi explicabo vero cumque perferendis accusamus dolor maxime. Id tempora sequi accusantium praesentium eligendi libero doloribus architecto consectetur.
    <br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque maiores dolor velit aperiam delectus saepe consequatur quae assumenda perferendis placeat odit libero facilis, blanditiis eos illo. Repellendus vero blanditiis cupiditate.
    <br>
    <router-outlet></router-outlet>
  </div>
</div>
